@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

:root {
  --white-color: #fff;
  --black-color: rgba(0, 0, 0, 0.7);
  --transition-time: 0.3s;
  --transition-color: #0fbcf9;
  --size-todo: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

span {
  display: inline-block;
}

input {
  background: none;
  border: none;
  color: var(--white-color);
}

/* header */
.header {
  width: 100%;
  height: 60px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

.header-search {
  display: flex;
  align-items: center;
}

.search-button {
  margin-right: 10px;
  transition: all var(--transition-time) ease-in-out;
}

.search-button:hover {
  color: var(--transition-color);
}

.header__form-container {
  max-width: 0;
  opacity: 0;
  transition: all var(--transition-time) ease-in-out;
  pointer-events: none;
}

.header__form-container.hide {
  max-width: 100%;
  opacity: 1;
  pointer-events: visible;
}

.header__form-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white-color);
}

.search-form {
  display: flex;
}

.search-input {
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.form-button {
  width: 15px;
  height: 15px;
  background-color: transparent;
  color: #fff;
}

.form-button::before {
  content: '';
  width: 15px;
  height: 15px;
  background: url(./assets/search.svg) no-repeat center/cover;
  display: block;
}

.weather-position {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.weather-icon {
  width: 25px;
  height: 25px;
  background-color: transparent;
  margin-right: 5px;
}

/* container top */
.container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 50px;
  color: var(--white-color);
}

.container-top .container-top--clock {
  margin-bottom: 20px;
  font-size: 7rem;
  font-weight: 500;
}

.container-top__greeting--input.hide {
  display: none;
}

.showInput {
  font-size: 3.5rem;
}

.container-top .container-top__greeting--text {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 400;
}

.container-top .container-top__greeting--input {
  width: 50%;
  text-align: center;
  border: none;
  border-bottom: 2px solid var(--white-color);
  font-size: 2rem;
}

.container-top .container-top__greeting--input:focus {
  outline: none;
}

.container-top__greeting--edit {
  transform: translate(280px, -100px);
  width: 14px;
  height: 14px;
  background-color: transparent;
  background: url(./assets/edit.svg) no-repeat center/cover;
}

.container-top__greeting--edit.hide {
  display: none;
}

.showInput {
  width: 100%;
  font-size: 3rem;
  margin-top: 20px;
  outline: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color var(--transition-time) ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.showInput[contenteditable='true']:focus {
  border-bottom-color: var(--white-color);
}

/* constainer bottom */

.container-bottom {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
}

.container-bottom--description {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.9rem;
  flex: 1;
}

.container-bottom--location {
  position: relative;
  display: flex;
  align-items: center;
}

.bg-location {
  white-space: nowrap;
  transition: all var(--transition-time) ease-in-out;
}

.container-bottom--location:hover .bg-location {
  color: var(--transition-color);
  transform: translateY(-8px);
}

.bg-photographer {
  position: absolute;
  left: 0;
  white-space: nowrap;
  transition: all var(--transition-time) ease-in;
  opacity: 0;
}

.container-bottom--location:hover .bg-photographer {
  transform: translateY(10px);
  opacity: 1;
  color: var(--transition-color);
}

.container-bottom--blockquote {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.container-bottom--blockquote {
  cursor: default;
}

.container-bottom--quote {
  transition: all var(--transition-time) ease-in-out;
  white-space: nowrap;
}

.container-bottom--blockquote:hover .container-bottom--quote {
  transform: translateY(-8px);
  color: var(--transition-color);
}

.container-bottom--author {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all var(--transition-time) ease-in-out;
}

.container-bottom--blockquote:hover .container-bottom--author {
  transform: translateY(12px);
  opacity: 1;
  color: var(--transition-color);
}

/* todo */

.container-bottom__todo-button:hover {
  transition: color var(--transition-time) ease-in-out;
  color: var(--transition-color);
}

.container-bottom__todo-container--check[type='checkbox']:checked ~ span {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  transition: all var(--transition-time) ease-in-out;
}

.container-bottom__todo {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.container-bottom__todo-position {
  position: absolute;
  bottom: 50px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  box-shadow: -10 ​4px 16px 0 rgb(31 38 135 / 37%);
  border-radius: 10px;
  transition: all var(--transition-time) ease-in-out;
  opacity: 0;
}

.container-bottom__todo-position.active {
  opacity: 1;
  transform: translateY(-5px);
}

.container-bottom__todo-container--form {
  width: 300px;
  overflow-x: scroll;
}

.container-bottom__todo-container--header {
  padding: 15px;
  font-size: 1.2rem;
  color: var(--black-color);
}

.container-bottom__todo-container--ul .no-list {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
  color: var(--black-color);
  opacity: 1;
}

.container-bottom__todo-container--ul .no-list.hide {
  opacity: 0;
  display: none;
}

.container-bottom__todo-container--li {
  display: flex;
  padding: 0 0 8px 20px;
}

.container-bottom__todo-container--li label {
  width: 14px;
  height: 14px;
  margin-right: calc(var(--size-todo) / 2);
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  background: var(--white-color) url(./assets/checkmark.svg) no-repeat
    center/cover;
  transition: background-color var(--transition-time) ease-in-out;
}

.container-bottom__todo-container--li label:hover {
  background-color: var(--transition-color);
}

.container-bottom__todo-container--check {
  margin-right: 10px;
  display: none;
}

.container-bottom__todo-container--span {
  flex: 1;
}

.container-bottom__todo-container--span[contenteditable='true']:focus {
  border-bottom: 1px solid var(--white-color);
  outline: none;
}

.container-bottom__todo-container--btns {
  padding-right: 20px;
}

.container-bottom__todo-container--edit {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(./assets/edit.svg) no-repeat center/cover;
}

.container-bottom__todo-container--delete {
  width: 15px;
  height: 15px;
  background: url(./assets/delete.svg) no-repeat center/cover;
}

.container-bottom__todo-container--input {
  width: 100%;
  padding: 10px;
}

.container-bottom__todo-container--input:focus {
  outline: none;
}

.container-bottom__todo-container--input::placeholder {
  color: var(--black-color);
}
